/* Styles Sheet */

/* body General Styles: These are only changing the background color and the fonts not too much */
body{
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Container Styles: This is the main container for the profile card */
.container{
    background-color: #1f1f1f;
    margin: 400px 300px 0px 300px;
    padding: 30px 20px 40px 20px;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Profile Picture Styles: This is the profile picture styles */
.profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0px 20px 117px;
}

/* Profile Name Styles: This is the profile name styles */
.profile-name{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

/* Country Styles: This is the country styles */
.country{
    font-size: 18px;
    text-align: center;
    color: #b8e81b;
    margin: 10px 0px 20px 0px;
}

/* Profile Description Styles: This is the profile description styles */
.profile-description{
    font-size: 13px;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

/* Button Styles: This is the button styles */
.button{
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    padding: 2px 0px 2px 0px;
    margin: 7px;
}